.aqua {background-color:#00ffff;color: #fff;}
.beige {background-color:#f5f5dc;color: #000;}
.black {background-color:#000000;color: #fff;}
.blue {background-color:#0000ff;color: #fff;}
.brown {background-color:#a52a2a;color: #fff;}
.cyan {background-color:#00ffff;color: #fff;}
.darkblue {background-color:#00008b;color: #fff;}
.darkcyan {background-color:#008b8b;color: #fff;}
.darkgrey {background-color:#a9a9a9;color: #fff;}
.darkgreen {background-color:#006400;color: #fff;}
.darkkhaki {background-color:#bdb76b;color: #fff;}
.darkmagenta {background-color:#8b008b;color: #fff;}
.darkolivegreen {background-color:#556b2f;color: #fff;}
.darkorange {background-color:#ff8c00;color: #fff;}
.darkorchid {background-color:#9932cc;color: #fff;}
.darkred {background-color:#8b0000;color: #fff;}
.darksalmon {background-color:#e9967a;color: #fff;}
.darkviolet {background-color:#9400d3;color: #fff;}
.fuchsia {background-color:#ff00ff;color: #fff;}
.gold {background-color:#ffd700;color: #fff;}
.green {background-color:#008000;color: #fff;}
.indigo {background-color:#4b0082;color: #fff;}
.khaki {background-color:#f0e68c;color: #000;}
.lightblue {background-color:#add8e6;color: #000;}
.lightgreen {background-color:#90ee90;color: #000;}
.lightpink {background-color:#ffb6c1;color: #000;}
.lime {background-color:#00ff00;color: #fff;}
.magenta {background-color:#ff00ff;color: #fff;}
.maroon {background-color:#800000;color: #fff;}
.navy {background-color:#000080;color: #fff;}
.olive {background-color:#808000;color: #fff;}
.orange {background-color:#ffa500;color: #fff;}
.pink {background-color:#ffc0cb;color: #fff;}
.purple {background-color:#800080;color: #fff;}
.violet {background-color:#800080;color: #fff;}
.red {background-color:#ff0000;color: #fff;}
.silver {background-color:#c0c0c0;color: #fff;}
.span-text-md {font-size: 0.9rem;}