{% extends 'base.html' %}
{% block title %}Energy Saving - Settings{% endblock %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Notification Setting</h1>

 <!-- Earnings (Monthly) Card Example -->
 
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Notify Time</div>
      <div class="h5 mb-0 font-weight-bold text-gray-800">Repeat every ... </div><br>
      <div class="form-group col-2">
        <label for="exampleFormControlSelect1">Time</label>
        <input type="number" class="form-control" id="notify_time">
        </div>
        <div class="form-group col-2">
        <label for="exampleFormControlSelect1">Unit</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Second</option>
          <option>Minute</option>
          <option>Hour</option>
        </select>
        
        </div>
        <button type="button" class="btn btn-primary" id="save">update</button>
        <br>
        
      </div>
      <div class="col-auto">
      
      </div>
    </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Line Token</div>
      <div class="h5 mb-0 font-weight-bold text-gray-800"><h4>Current Token : </h4>s8QED^gW7?Zs&vJn=MlDCTR0A°J°(Wy%1~wqPEeth3a$!xM#b1LrOY9G%o</div><br>
      <div class="form-group">
        <label for="exampleFormControlSelect1">New Token</label>
        <input type="text" class="form-control" id="token">
        
        </div>
        <button type="button" class="btn btn-info" id="save">update</button>
        <br>
        
      </div>
      <div class="col-auto">
      </div>
    </div>
    </div>
  </div>
{% endblock %}
{% block js %}

{% endblock %}