{% extends 'base.html' %}
{% block title %}Energy Saving - Sensor View{% endblock %}
{% block css %}
    .selected{
      background-color: rgba(192,192,192,0.5);
    }
{% endblock %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Room Management</h1>
<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-4" id="building_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form id="bui_add">
                            <div class="form-group">
                                <label for="bui">Add Building:</label>
                                <input type="text" class="form-control" placeholder="Enter building name" name="bname">
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form id="bui_edit">
                            <div class="form-group">
                                <label for="bui">Edit Building:</label>
                                <input type="text" class="form-control" placeholder="Enter building name" name="bname">
                                <input type="hidden" class="form-control" name="bid">
                            </div>
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                    </div>
                </div>
                <hr class="sidebar-divider">
                <form id="bui_del">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="bid">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="building" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Building</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card shadow mb-4" id="floor_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form id="flo_add">
                            <div class="form-group">
                                <label for="flo">Add Floor:</label>
                                <input type="text" class="form-control" placeholder="Enter floor name" name="fname">
                                <input type="hidden" class="form-control" name="bid">
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form id="flo_edit">
                            <div class="form-group">
                                <label for="flo">Edit Floor:</label>
                                <input type="text" class="form-control" placeholder="Enter floor name" name="fname">
                                <input type="hidden" class="form-control" name="fid">
                                <input type="hidden" class="form-control" name="bid">
                            </div>
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                    </div>
                </div>
                <hr class="sidebar-divider">
                <form id="flo_move">
                    <div class="form-group">
                        <label for="flo">Move Floor:</label>
                        <input type="hidden" class="form-control" name="fid">
                        <input type="hidden" class="form-control" name="fname">
                        <select class="form-control" name="bid">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Move</button>
                </form>
                <hr class="sidebar-divider">
                <form id="flo_del">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="fid">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="floor" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Floor</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card shadow mb-4" id="room_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form id="roo_add">
                            <div class="form-group">
                                <label for="roo">Add Room:</label>
                                <input type="text" class="form-control" placeholder="Enter room name" id="rname"
                                    name="rname">
                                <input type="hidden" class="form-control" id="fid" name="fid">
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form id="roo_edit">
                            <div class="form-group">
                                <label for="roo">Edit Room:</label>
                                <input type="text" class="form-control" placeholder="Enter room name" name="rname">
                                <input type="hidden" class="form-control" name="rid">
                                <input type="hidden" class="form-control" name="fid">
                            </div>
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                    </div>
                </div>
                <hr class="sidebar-divider">
                <form id="roo_move">
                    <div class="form-group">
                        <label for="roo">Move Room:</label>
                        <input type="hidden" class="form-control" name="rid">
                        <input type="hidden" class="form-control" name="rname">
                        <select class="form-control" name="fid">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Move</button>
                </form>
                <hr class="sidebar-divider">
                <form id="roo_del">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="rid">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="room" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Room</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block js %}

<script>
    $(document).ready(function () {
        var building = $('#building').DataTable();
        var floor = $('#floor').DataTable();
        var room = $('#room').DataTable();
        $("#floor_card *").children().prop('disabled', true);
        $("#room_card *").children().prop('disabled', true);
        updateBuilding();

        $('#building tbody').on('click', 'tr', function () {
            var data = building.row($(this)).data();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                floor.clear().draw();
                room.clear().draw();
                clearRoomCard();
                clearFloorCard();
                clearBuildingCard();
                $("#floor_card *").children().prop('disabled', true);
                $("#room_card *").children().prop('disabled', true);
            } else {
                building.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                updateFloor(data.bid);
                $("#flo_add input[name=bid]").val(data.bid);
                $("#bui_edit input[name=bid]").val(data.bid);
                $("#bui_edit input[name=bname]").val(data.bname);
                $("#bui_del input[name=bid]").val(data.bid);
                $("#floor_card *").children().prop('disabled', false);
                $("#room_card *").children().prop('disabled', false);
            }
        });

        $('#floor tbody').on('click', 'tr', function () {
            var data = floor.row($(this)).data();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                room.clear().draw();
                clearRoomCard();
                clearFloorCard();

                $("#room_card *").children().prop('disabled', true);
            } else {
                floor.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                updateRoom(data.fid);
                $("#roo_add input[name=fid]").val(data.fid);
                $("#flo_edit input[name=fid]").val(data.fid);
                $("#flo_edit input[name=fname]").val(data.fname);
                $("#flo_edit input[name=bid]").val(data.bid);
                $('#flo_move select[name=bid]').empty();

                $.each(building.rows().data(), function (key, value) {
                    if (value.bid == data.bid) {
                        $('#flo_move select[name=bid]')
                            .append($("<option selected></option>")
                                .attr("value", value.bid)
                                .text(value.bname));
                    } else {
                        $('#flo_move select[name=bid]')
                            .append($("<option></option>")
                                .attr("value", value.bid)
                                .text(value.bname));
                    }
                });
                $("#flo_move input[name=fid]").val(data.fid);
                $("#flo_move input[name=fname]").val(data.fname);
                $("#flo_del input[name=fid]").val(data.fid);
                $("#room_card *").children().prop('disabled', false);
            }
        });

        $('#room tbody').on('click', 'tr', function () {
            var data = room.row($(this)).data();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                clearRoomCard();
            } else {
                room.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#roo_edit input[name=rid]").val(data.rid);
                $("#roo_edit input[name=rname]").val(data.rname);
                $("#roo_edit input[name=fid]").val(data.fid);
                $('#roo_move select[name=fid]').empty();
                $.each(floor.rows().data(), function (key, value) {
                    if (value.fid == data.fid) {
                        $('#roo_move select[name=fid]')
                            .append($("<option selected></option>")
                                .attr("value", value.fid)
                                .text(value.fname));
                    } else {
                        $('#roo_move select[name=fid]')
                            .append($("<option></option>")
                                .attr("value", value.fid)
                                .text(value.fname));
                    }
                });
                $("#roo_move input[name=rid]").val(data.rid);
                $("#roo_move input[name=rname]").val(data.rname);

                $("#roo_del input[name=rid]").val(data.rid);
            }

        });

        $('#bui_add').submit(function (event) {
            $.post("{{ url_for('Private.building_add') }}", $('#bui_add').serialize())
            updateBuilding();
            event.preventDefault();
        })

        $('#flo_add').submit(function (event) {
            alert($('#flo_add').serialize());
            $.post("{{ url_for('Private.floor_add') }}", $('#flo_add').serialize())
            updateFloor($("#flo_add input[name=bid]").val());
            event.preventDefault();
        })

        $('#roo_add').submit(function (event) {
            $.post("{{ url_for('Private.room_add') }}", $('#roo_add').serialize())
            updateRoom($("#roo_add input[name=fid]").val());
            event.preventDefault();
        })

        $('#bui_edit').submit(function (event) {
            $.post("{{ url_for('Private.building_edit') }}", $('#bui_edit').serialize())
            updateBuilding();
            event.preventDefault();
        })

        $('#flo_edit').submit(function (event) {
            $.post("{{ url_for('Private.floor_edit') }}", $('#flo_edit').serialize())
            updateFloor($("#flo_edit input[name=bid]").val());
            event.preventDefault();
        })

        $('#roo_edit').submit(function (event) {
            $.post("{{ url_for('Private.room_edit') }}", $('#roo_edit').serialize())
            updateRoom($("#roo_edit input[name=fid]").val());
            event.preventDefault();
        })

        $('#bui_del').submit(function (event) {
            $.get("{{ url_for('Private.building_del') }}", $('#bui_del').serialize())
            updateBuilding();
            event.preventDefault();
        })

        $('#flo_del').submit(function (event) {
            $.get("{{ url_for('Private.floor_del') }}", $('#flo_del').serialize())
            updateFloor($("#flo_add input[name=bid]").val());
            event.preventDefault();
        })

        $('#roo_del').submit(function (event) {
            $.get("{{ url_for('Private.room_del') }}", $('#roo_del').serialize())
            updateRoom($("#roo_add input[name=fid]").val());
            event.preventDefault();
        })

        $('#flo_move').submit(function (event) {
            $.post("{{ url_for('Private.floor_edit') }}", $('#flo_move').serialize())
            updateFloor($("#flo_add input[name=bid]").val());
            event.preventDefault();
        })

        $('#roo_move').submit(function (event) {
            $.post("{{ url_for('Private.room_edit') }}", $('#roo_move').serialize())
            updateRoom($("#roo_add input[name=fid]").val());
            event.preventDefault();
        })

        function clearBuildingCard() {
            $("#bui_add input[name=fname]").val('');
            $("#bui_edit input[name=bid]").val('');
            $("#bui_edit input[name=bname]").val('');
            $("#bui_del input[name=bid]").val('');
        }

        function clearFloorCard() {
            $("#flo_add input[name=fname]").val('');
            $("#flo_add input[name=bid]").val('');
            $("#flo_edit input[name=fid]").val('');
            $("#flo_edit input[name=fname]").val('');
            $("#flo_edit input[name=bid]").val('');
            $('#flo_move input[name=fid]').val('');
            $('#flo_move input[name=fname]').val('');
            $('#flo_move select[name=bid]').empty();
            $("#flo_del input[name=rid]").val('');
        }

        function clearRoomCard() {
            $("#roo_add input[name=rname]").val('');
            $("#roo_add input[name=fid]").val('');
            $("#roo_edit input[name=rid]").val('');
            $("#roo_edit input[name=rname]").val('');
            $("#roo_edit input[name=fid]").val('');
            $('#roo_move input[name=rid]').val('');
            $('#roo_move input[name=rname]').val('');
            $('#roo_move select[name=fid]').empty();
            $("#roo_del input[name=rid]").val('');
        }

        function updateBuilding() {
            building.destroy();
            floor.clear().draw();
            room.clear().draw();
            building = $('#building').DataTable({
                ajax: {
                    "url": "{{ url_for('Private.building_list') }}",
                    "type": "GET",
                    "dataSrc": "",
                },
                "columns": [{
                    data: "bid"
                }, {
                    data: "bname"
                }]
            });
        };

        function updateFloor(bid) {
            floor.destroy();
            room.clear().draw();
            floor = $('#floor').DataTable({
                ajax: {
                    "url": "{{ url_for('Private.floor_list') }}/?bid=" + bid,
                    "type": "GET",
                    "dataSrc": "",
                },
                "columns": [{
                    data: "fid"
                }, {
                    data: "fname"
                }]
            });
        };

        function updateRoom(fid) {
            room.destroy();
            room = $('#room').DataTable({
                ajax: {
                    "url": "{{ url_for('Private.room_list') }}/?fid=" + fid,
                    "type": "GET",
                    "dataSrc": "",
                },
                "columns": [{
                    data: "rid"
                }, {
                    data: "rname"
                }]
            });
        };

    });
</script>
{% endblock %}