{% extends 'base.html' %}
{% block title %}Energy Saving - Sensor Condition{% endblock %}
{% block css %}
.text-unset{text-align: unset !important;}
.swal2-input{color: #000;}
{% endblock %}
{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Condition Managemnet</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <button type="button" class="btn btn-success mb-3" id="new">Add</button>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
{% endblock %}
{% block js %}
<script>
  var BuildingData = {};
  var Buildinglist = [];
  var Table = $('#dataTable').DataTable();
  $('#content').on('click', "#new, button[name='edit']" ,async function () {
    Swal.mixin({
      confirmButtonText: 'Next &rarr;',
      showCancelButton: true,
      progressSteps: ['1', '2'],
      cancelButtonColor: '#d33',
      width: '60rem',
      customClass: {
        content: 'text-unset text-white'
      }
    }).queue([
      {
        title: 'Please specify conditions.',
        html: '<div id="alert-builder-plugins"></div>',
        preConfirm: (res) => {
          var result = $('#alert-builder-plugins').queryBuilder('getRules');
          if (result && !$.isEmptyObject(result)) {
            return JSON.stringify(result, null);
          }else{
            return false;
          }
        }
      },
      {
        title:'Please specify a name.',
        input: 'text',
        confirmButtonText: 'Submit',
        inputValue: getName(this),
        inputValidator: (value) => { return !value && 'Please enter a name.' }
      }
    ]).then((result) => {
      if (result.value) {
        console.log(result.value)
        if(this.id != "new"){
          let data = JSON.parse(decodeURIComponent($(this).attr("data")))
          $.ajax({
            url: "{{ url_for('Private.rule_edit') }}",
            method: "POST",
            data: {id:data["ruid"],name:result.value[1],data:result.value[0] }
          }).then(function(res){
            getRule()
            Swal.fire(
              'Edited!',
              'Rule has been edit.',
              'success'
            )
          })
          return
        }
        $.ajax({
          url: "{{ url_for('Private.rule_add') }}",
          method: "POST",
          data: {name:result.value[1],data:result.value[0] }
        }).then(function(res){
          getRule()
          Swal.fire(
            'Added!',
            'Rule has been Add.',
            'success'
          )
        })
        .catch(function (err) {
          console.log(err);
        });
      }
    })

    var rules_data = null;
    if(this.id != "new"){
      let data = JSON.parse(decodeURIComponent($(this).attr("data")))
      rules_data = JSON.parse(data["rjson"])
    }
    $('#alert-builder-plugins').queryBuilder({
      plugins: [
        'sortable',
        'filter-description',
        'unique-filter',
        'bt-tooltip-errors',
        'bt-selectpicker',
        'bt-checkbox'
      ],
      operators: [
        { type: 'equal', optgroup: 'basic' },
        { type: 'not_equal', optgroup: 'basic' },
        { type: 'greater', optgroup: 'basic' },
        { type: 'greater_or_equal', optgroup: 'basic' },
        { type: 'less', optgroup: 'basic' },
        { type: 'less_or_equal', optgroup: 'basic' },
        { type: 'all_true', optgroup: 'custom', nb_inputs: 1, multiple: true, apply_to: ['checkbox'] },
        { type: 'any_true', optgroup: 'custom', nb_inputs: 1, multiple: true, apply_to: ['checkbox'] }],
      filters: [{
        id: 'type',
        label: 'Type',
        type: 'string',
        input: typeCheckBox,
        description: 'This filter uses Awesome Bootstrap Checkboxes',
        operators: ['all_true', 'any_true'],
        validation: {
          min: 1
        },
        valueSetter: setTypeVal,
        valueGetter: getTypeVal
      },{
        id: 'dow',
        label: 'Day of Week',
        type: 'integer',
        input: 'checkbox',
        values: [
          'Sunday',
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday',
          'Saturday'
        ],
        validation: {
          min: 1
        },
        description: 'This filter uses Awesome Bootstrap Checkboxes',
        operators: ['any_true'],
      },{
        id: 'room',
        label: 'Room',
        type: 'string',
        input: roomBox,
        validation: {
          min: 1
        },
        description: 'This filter uses Awesome Bootstrap Checkboxes',
        operators: ['equal'],
        valueSetter: setSelectVal,
        valueGetter: getSelectVal
      },{
        id: 'floor',
        label: 'Floor',
        type: 'integer',
        input: floorBox,
        validation: {
          min: 1
        },
        description: 'This filter uses Awesome Bootstrap Checkboxes',
        operators: ['equal'],
        valueSetter: setSelectVal,
        valueGetter: getSelectVal
      },{
        id: 'building',
        label: 'Building',
        type: 'string',
        input: "select",
        values: Buildinglist,
        validation: {
          min: 1
        },
        description: 'This filter uses Awesome Bootstrap Checkboxes',
        operators: ['equal']
      },{
        id: 'rate',
        label: '24-hour clock',
        type: 'integer',
        validation: {
          min: 1,
          max: 24
        },
        plugin: 'slider',
        plugin_config: {
          min: 1,
          max: 24,
          value: 1
        },
        operators: ['equal','not_equal','greater', 'greater_or_equal','less', 'less_or_equal'],
        valueSetter: function(rule, value) {
          if (rule.operator.nb_inputs == 1) value = [value];
          rule.$el.find('.rule-value-container input').each(function(i) {
            $(this).slider('setValue', value[i] || 0);
          });
        },
        valueGetter: function(rule) {
          let value = [];
          rule.$el.find('.rule-value-container input').each(function() {
            value.push($(this).slider('getValue'));
          });
          return rule.operator.nb_inputs == 1 ? value[0] : value;
        }
      }],
      isInline:false,
      rules: rules_data
    });
  });

  $('table').on('click', "button[name='del']" , function () {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes',
    }).then((result) => {
      if (result.value) {
        $.ajax({
          url: "{{ url_for('Private.rule_del') }}",
          data:{id:$(this).attr("data-id")},
          method: "GET"
        }).then(function(res){
          getRule()
          Swal.fire(
            'Deleted!',
            'Your condition has been deleted.',
            'success'
          )
        })
        .catch(function (err) {
          console.log(err);
        });
      }
    })
  });

  var getRule = function(){
    $.ajax({
      url: "{{ url_for('Private.rule_view') }}",
      method: "GET"
    }).then(function(res){
      initTable(res)
    })
    .catch(function (err) {
      console.log(err);
    });
  };

  var initTable = function(data){
    Table.clear();
    data.forEach(function(elem){
      Table.row.add( [
            elem["ruid"],
            elem["rname"],
            "<button type=\"button\" class=\"btn btn-warning\" id=\"edit\" name=\"edit\" data=\""+encodeURIComponent(JSON.stringify(elem))+"\">Edit</button>\n" +
            "<button type=\"button\" class=\"btn btn-danger\" id=\"del\" name=\"del\" data-id=\""+elem["ruid"]+"\">Delete</button>"
        ] );
    })
    Table.draw( false );
  };

$( document ).ready(function() {
  $.ajax({
    url: "{{ url_for('Private.sensor_list') }}",
    method: "GET"
  }).then(function(res){
    res.forEach((elem)=>{
      if(!BuildingData.hasOwnProperty(elem["bname"])){
        BuildingData[elem["bname"]] = {}
        Buildinglist.push(elem["bname"])
      }
      if(!BuildingData[elem["bname"]].hasOwnProperty(elem["fname"]))
        BuildingData[elem["bname"]][elem["fname"]] = {fid:elem["fid"],data:[]}
      if(BuildingData[elem["bname"]][elem["fname"]]["data"].indexOf(elem["rname"]) == -1)
        BuildingData[elem["bname"]][elem["fname"]]["data"].push(elem["rname"])
    })
  })
  .catch(function (err) {
    console.log(err);
  });
  getRule()
})

let vaildLen = function(value,rule){
  return value.length > 0
}

let getName = function(dom){
  if($(dom).attr("data")){
    let data = JSON.parse(decodeURIComponent($(dom).attr("data")))
    return data["rname"]
  }else{
    return ""
  }
  
}

let typeCheckBox = function(rule){
  let id = rule["id"]
  return `{% for i in _type %}
          <div class="form-row ml-2 mt-1">
            <div class="custom-control custom-checkbox custom-control-inline mt-2">
              <input type="checkbox" name="" id="${id}_type{{i['tid']}}" value="0" class="custom-control-input">
              <label for="${id}_type{{i['tid']}}" class="custom-control-label">{{i['tname']}}</label>
            </div>
            <div class="col">
              <select class="custom-select"><option value="1">ON</option><option value="0">OFF</option></select>
            </div>
          </div>
          {% endfor %}`
};

let roomBox = function(){
  let res =  '<select class="custom-select">'
  Object.keys(BuildingData).forEach(key => {
    res += `<optgroup label="${key}">`
    Object.keys(BuildingData[key]).forEach(key2 => {
      BuildingData[key][key2]["data"].forEach((i)=>{
        res += `<option>${i}</option>`
      })
    })
    res += '</optgroup>'
  });
  res += '</select>'
  return res
}

let floorBox = function(){
  let res =  '<select class="custom-select">'
  Object.keys(BuildingData).forEach(key => {
    res += `<optgroup label="${key}">`
    Object.keys(BuildingData[key]).forEach(key2 => {
      res += `<option value="${BuildingData[key][key2]["fid"]}">${key2}</option>`
    })
    res += '</optgroup>'
  });
  res += '</select>'
  return res
}

let getTypeVal = function(rule) {
  let value = [];
  rule.$el.find('.rule-value-container div[class*="form-row"]').each(function() {
    let inp = $(this).find("input").prop('checked') ? "1" : "0";
    let select = $(this).find("select").val();
    value.push([inp,select]);
  });
  return value;
}

let setTypeVal = function(rule, value) {
  rule.$el.find('.rule-value-container div[class*="form-row"]').each(function(i) {
    $(this).find("input").prop('checked', value[i][0] == "1" ? true : false);
    $(this).find("select").val(value[i][1]);
  });
}

let getSelectVal = function(rule) {
  let value = [];
  rule.$el.find('.rule-value-container select').each(function() {
    value.push($(this).val());
  });
  return rule.operator.nb_inputs == 1 ? value[0] : value;
}

let setSelectVal = function(rule, value) {
  if (rule.operator.nb_inputs == 1) value = [value];
  rule.$el.find('.rule-value-container select').each(function(i) {
    $(this).val(value[i]).change();
  });
}

</script>
{% endblock %}