{% extends 'base.html' %}
{% block title %}Energy Saving - Charts{% endblock %}
{% block css %}
.selected{
background-color: rgba(192,192,192,0.5);
}
tr[role="row"]:hover {
cursor:pointer;
}
{% endblock %}
{% block content %}


<div class="row">
	<div class="col">
		<div class="card shadow cardFix">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="m-0 font-weight-bold text-primary">Search menu</h6>
			</div>
			<div class="card-body">
				<form id="searchForm">
					<div class="form-row">
						<div class="col-md mb-4">
							<label for="sName">Sensor Name</label>
							<input type="text" class="form-control " id="sName" placeholder="Search...">
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6 mb-4">
							<label for="building">Building</label>
							<select class="custom-select" id="building">
								<option selected value="">All</option>

							</select>

						</div>
						<div class="col-md-3 mb-4">
							<label for="floor">Floor</label>
							<select class="custom-select" id="floor">
								<option selected value="">All</option>

							</select>
						</div>
						<div class="col-md-3 mb-4">
							<label for="room">Room</label>
							<select class="custom-select" id="room">
								<option selected value="">All</option>

							</select>
						</div>
						<label for="sName">Sensor Type :</label>
					</div>
					<div class="form-row">
						<div class="col-md-3 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="Light" data-type="" checked
									value="Light" name="typeFilter">
								<label class="custom-control-label" for="Light">Light</label>
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="Electricity" data-type=""
									checked value="Electricity" name="typeFilter">
								<label class="custom-control-label" for="Electricity">Electricity</label>
							</div>
						</div>
						<div class="col-md-5 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="Air Conditioner" data-type=""
									checked value="Air Conditioner" name="typeFilter">
								<label class="custom-control-label" for="Air Conditioner">Air Conditioner</label>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-12">
							<button class="btn btn-primary mr-3 mt-2" type="button" id="search">Search</button>
							<button class="btn btn-primary mr-3 mt-2" type="button" id="addToDash">Add to
								Dashboard</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow cardFix">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="m-0 font-weight-bold text-danger">Dashboard</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table" id="dashboard" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>type</th>
								<th>name</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<center><button class="btn btn-outline-danger mb-2 float-center" id="clearRows">clear</button></center>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow cardFix">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h5 class="m-0 font-weight-bold text-info">Link Parameters</h6>
			</div>
			<div class="card-body">
				<div class="card shadow mb-4">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" width="100%" cellspacing="0">
								<thead>
								</thead>
								<tbody>
									<tr>
										<th>From</th>
										<td id="sTimeTable"></td>
									</tr>
									<tr>
										<th>To</th>
										<td id="eTimeTable"></td>
									</tr>
									<tr>
										<th>Unit</th>
										<td id="unitTable"></td>
									</tr>
									<tr>
										<th>Mode</th>
										<td id="modeTable"></td>
									</tr>
									<tr>
										<th>Auto Update</th>
										<td id="autoUpdateTable"></td>
									</tr>
								</tbody>
							</table>
							<center><button class="btn btn-outline-info" id="genParam">Get Link</button></center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xl-6 col-md-6 mb-2">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xm font-weight-bold text-secondary text-uppercase mb-1">Graph Mode</div>
						<div class="row">
							
								<button class="btn btn-success mr-2" type="button" id="Bcompare">Compare</button>
							
								
								<button class="btn btn-danger mr-2" type="button" id="Bcombine">Combine</button>
						
						
								<button class="btn btn-warning" type="button" id="Bseparate">Separate</button>
						
						</div>
					</div>
					<div class="col-auto">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 mb-2">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xm font-weight-bold text-secondary text-uppercase mb-1">Time Range:</div>
						<input type="text" name="datetimes" class="form-control input-lg" />
					</div>
					<div class="col-auto">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 mb-2">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xm font-weight-bold text-secondary text-uppercase mb-1">Unit</div>
						<select id="unit" class="form-control input-lg">
							<option value="300">5mimutes</option>
							<option value="1800">30minutes</option>
							<option value="3600">1hours</option>
							<option value="43200">12hours</option>
							<option value="86400">1day</option>
						</select>

					</div>
					<div class="col-auto">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 mb-2">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col">
						<div class="text-xm font-weight-bold text-secondary text-uppercase mb-1">Create graph</div>
						<div class="row">
						<button id="update" class="btn btn-outline-primary mr-2">Update</button>
						<button class="btn btn-outline-success mr-2" id="autoRefresh">Auto update</button>
						<button class="btn btn-outline-warning" id="editLegend">Edit legend</button>
					</div>
					</div>
					<div class="col-auto">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<br>
<!-- Content Row -->
<br>
<br>

<div id="dashGraph" class="bg-white">
	<button class="btn btn-outline-info float-right" id="fullscreen"><i class="fa fa-expand"
			aria-hidden="true"></i></button>
	<div id="compare" class="row justify-content-center"></div>
	<div id="combine" class="row justify-content-center"></div>
	<div id="separate" class="row justify-content-center"></div>

</div>

<!-- /.container-fluid -->
{% endblock %}
{% block js %}
<script>
	let range;
	let startTime;
	let endTime;
	let checkRefresh = false;
	let mode = "none";

	$("#sTimeTable").text(moment().subtract(1, 'days').format('YYYY-MM-DD hh:mm:ss'));
	$("#eTimeTable").text(moment().format('YYYY-MM-DD hh:mm:ss'));
	$("#unitTable").text($("#unit").val());
	$("#autoUpdateTable").text(checkRefresh);
	$("#modeTable").html('<span class="badge badge-secondary">' + mode + '</span>');

	range = $('input[name="datetimes"]').daterangepicker({
		timePicker: true,
		startDate: moment().subtract(1, 'days'),
		endDate: moment(),
		locale: {
			format: 'M/DD hh:mm A'
		}
	});

	$('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
		startTime = new Date(picker.startDate.format('YYYY-MM-DD hh:mm A')).getTime()/1000
		endTime = new Date(picker.endDate.format('YYYY-MM-DD hh:mm A')).getTime()/1000
		
		$("#sTimeTable").text(picker.startDate.format('YYYY-MM-DD hh:mm A'));
		$("#eTimeTable").text(picker.endDate.format('YYYY-MM-DD hh:mm A'));
	});



	var getRoomData = function () {
		$.ajax({
			type: 'GET',
			url: '{{ url_for("Private.all_room_list") }}',
			dataType: 'json',
			success: function (roomData) {
				let building = $('#building');
				let floor = $('#floor');
				let room = $('#room');
				$.each(roomData, function (key, entry) {
					building.append($('<option></option>').attr('value', entry.bid).text(entry
						.bname));
				})

				$(building).change(function () {
					floor.empty();
					floor.append('<option selected value="">All</option>');
					floor.prop('selectedIndex', 0);
					room.empty();
					room.append('<option selected value="">All</option>');
					room.prop('selectedIndex', 0);
					$.each(roomData, function (key, entry) {
						if (entry.bid == building.val()) {
							$.each(entry.floor, function (key, entry2) {
								floor.append($('<option></option>').attr('value',
									entry2.fid).text(entry2.fname));
							})
						}
					})
				});

				$(floor).change(function () {
					room.empty();
					room.append('<option selected value="">All</option>');
					room.prop('selectedIndex', 0);
					$.each(roomData, function (key, entry) {
						if (entry.bid == building.val()) {
							$.each(entry.floor, function (key, entry2) {
								if (entry2.fid == floor.val()) {
									$.each(entry2.room, function (key, entry3) {
										room.append($('<option></option>')
											.attr('value', entry3.rid)
											.text(entry3
												.rname));
									})
								}
							})
						}
					})
				});

			}
		});
	}

	getRoomData();

	var dashboardArray = [];
	var typeFilter = "Light|Electricity|Air Conditioner";
	$('input:checkbox').on('change', function () {
		typeFilter = $('input:checkbox[name="typeFilter"]:checked').map(
			function () {
				return this.value;
			}).get().join('|');

	});
	var dashboard = $('#dashboard').DataTable();
	var updateDashboard = function () {
		dashboard.destroy();
		dashboard = $('#dashboard').DataTable({
			"ordering": false,
			"info": false,
			"searching": false,
			"bLengthChange": false,
			data: dashboardArray,
			columns: [{
				data: 'type'
			}, {
				data: 'name'
			}],
			pageLength: 4
		});
	}
	updateDashboard();

	$('#clearRows').click(function () {
		dashboardArray = [];
		dashboard.rows().remove().draw(false);
	});

	function hasDup(value) {
		for (i = 0; i < dashboardArray.length; i++) {
			if (JSON.stringify(dashboardArray[i]) === JSON.stringify(value)) {
				return true
			}
		}
		return false
	}

	$("#addToDash").click(function () {
		if ($('#building').val() != "") {
			if ($('#floor').val() != "") {
				if ($('#room').val() != "") {
					roomToAdd = {
						'type': 'room',
						'id': $('#room').val(),
						'name': $("#room option:selected").html()
					};
					if (hasDup(roomToAdd) === false) {
						dashboardArray.push(roomToAdd);
					}
				} else {
					floorToAdd = {
						'type': 'floor',
						'id': $('#floor').val(),
						'name': $("#floor option:selected").html()
					};
					if (hasDup(floorToAdd) === false) {
						dashboardArray.push(floorToAdd);
					}
				}
			} else {
				buildingToAdd = {
					'type': 'building',
					'id': $('#building').val(),
					'name': $("#building option:selected").html()
				};
				if (hasDup(buildingToAdd) === false) {
					dashboardArray.push(buildingToAdd);
				}
			}
		} else {
			Swal.fire(
				'Cannot add to Dashboard',
				'Please select at least 1 item to add',
				'warning'
			)
		}
		updateDashboard();
	});


	var unit = $("#unit").val();
	var updateTime = ""
	$("#unit").change(function () {
		unit = $("#unit").val();
		$("#unitTable").text($("#unit").val());
	});

	$("#compare").hide();
	$("#combine").hide();
	$("#separate").hide();

	$("#Bcompare").click(function () {
		showCompare()
	});
	$("#Bcombine").click(function () {
		showCombine()
	});
	$("#Bseparate").click(function () {
		showSeparate()
	});

	function showCompare() {
		mode = "compare"
		$("#compare").show();
		$("#combine").hide();
		$("#separate").hide();
		$("#modeTable").html('<span class="badge badge-success">' + mode + '</span>');
	};

	function showCombine() {
		mode = "combine"
		$("#combine").show();
		$("#compare").hide();
		$("#separate").hide();
		$("#modeTable").html('<span class="badge badge-danger">' + mode + '</span>');
	};

	function showSeparate() {
		mode = "separate"
		$("#separate").show();
		$("#combine").hide();
		$("#compare").hide();
		$("#modeTable").html('<span class="badge badge-warning">' + mode + '</span>');
	};

	$("#search").click(function () {
		Swal.fire({
			width: '60rem',
			title: 'Please select sensor to add to dashboard',
			html: '<div class="card shadow mb-4">\
    <div class="card-body">\
        <div class="table-responsive">\
            <table class="table table-bordered" id="sensor_list" width="100%" cellspacing="0">\
                <thead>\
                    <tr>\
                        <th>#</th>\
                        <th>Sensor Name</th>\
                        <th>Room</th>\
                        <th>Floor</th>\
                        <th>Building</th>\
						<th>Type</th>\
						<th>Sensor type</th>\
                    </tr>\
                </thead>\
                <tbody>\
                </tbody>\
            </table>\
        </div>\
    </div>\
</div>',
			focusConfirm: false,
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Select',
			onBeforeOpen: function () {
				sensors = $('#sensor_list').DataTable({
					ajax: {
						"url": "{{ url_for('Private.sensor_list') }}",
						"type": "GET",
						"dataSrc": "",
					},
					columns: [{
						data: 'sid'
					}, {
						data: 'sname'
					}, {
						data: 'rname'
					}, {
						data: 'fname'
					}, {
						data: 'bname'
					}, {
						data: 'tname'
					}, {
						data: 'inf_type'
					}]
				});

				sensors.columns(1).search($('#sName').val()).draw();

				if ($('#building').val() != "") {
					sensors.columns(4).search($("#building option:selected").html()).draw();
				}
				if ($('#floor').val() != "") {
					sensors.columns(3).search($("#floor option:selected").html()).draw();
				}
				if ($('#room').val() != "") {
					sensors.columns(2).search($("#room option:selected").html()).draw();
				}

				sensors.column(5).search(typeFilter, true, false, false).draw(false);

				$('#sensor_list tbody').on('click', 'tr', function () {
					$(this).toggleClass('selected');
				});
			},
			preConfirm: () => {
				data = sensors.rows('.selected').data();
				$.each(data, function (index, value) {
					sensorToAdd = {
						'type': value.inf_type,
						'id': value.sid,
						'name': value.sname
					}
					if (hasDup(sensorToAdd) === false) {
						dashboardArray.push(sensorToAdd);
					}
				});
				updateDashboard();
			}
		});
	});

	var color = Chart.helpers.color;
	var cfg = {
		data: {
			datasets: [{
				label: 'tmp',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				data: [{
					t: 000000000000,
					y: "0"
				}],
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			}]
		},
		options: {
			title: {
				display: true,
				text: 'Chart'
			},
			maintainAspectRatio: false,
			animation: {
				duration: 0
			},
			scales: {
				xAxes: [{
					type: 'time',
					distribution: 'series',
					offset: true,
					gridLines: {
						display: false,
						drawBorder: false
					},
					ticks: {
						major: {
							enabled: true,
							fontStyle: 'bold'
						},
						source: 'data',
						autoSkip: true,
						autoSkipPadding: 75,
						maxRotation: 0,
						sampleSize: 100
					}
				}],
				yAxes: [{
					gridLines: {
						color: "rgb(234, 236, 244)",
						zeroLineColor: "rgb(234, 236, 244)",
						drawBorder: false,
						borderDash: [2],
						zeroLineBorderDash: [2]
					},
					scaleLabel: {
						display: true,
						labelString: 'Watt'
					}
				}]
			},
			pan: {
				enabled: true,
				mode: "xy",
				speed: 100,
				threshold: 100
			},
			zoom: {
				enabled: true,
				drag: false,
				mode: "xy",
			},
			tooltips: {
				intersect: false,
				mode: 'index',
				callbacks: {
					label: function (tooltipItem, myData) {
						var label = myData.datasets[tooltipItem.datasetIndex].label || '';
						if (label) {
							label += ': ';
						}
						label += parseFloat(tooltipItem.value).toFixed(2);
						return label;
					}
				}
			}
		}
	};

	let colorTmp = Object.keys(window.chartColors);
	let compareChart = [];
	let combineChart = [];
	let separateChart = [];
	var colorNames = shuffle(colorTmp);

	function clearChart() {
		$.each(compareChart, function (index, value) {
			value.destroy()
		});
		$.each(combineChart, function (index, value) {
			value.destroy()
		});
		$.each(separateChart, function (index, value) {
			value.destroy()
		});
		compareChart = [];
		combineChart = [];
		separateChart = [];
		$('#compare').html('');
		$('#combine').html('');
		$('#separate').html('');
	}

	function loadCompare(data) {
		$.each(["volt", "amp", "watt", "ae", "ct"], function (index, value) {
			var divChart = "<div class=\"col mb-5\" name=\"compare" + value +
				"\"><canvas class=\"card shadow\" id=\"compare" + value + "\"></canvas></div>";
			$("#compare").append(divChart);
			var ctxTmp = document.getElementById('compare' + value).getContext('2d');
			var cfgTmp = JSON.parse(JSON.stringify(cfg));
			cfgTmp.options.scales.yAxes[0].scaleLabel.labelString = value
			var chart = new Chart(ctxTmp, cfgTmp);
			chart.canvas.parentNode.style.height = '500px';
			chart.canvas.parentNode.style.width = '600px';
			compareChart.push(chart);
			$.each(data, function (i, v) {
				$.each(v, function (i2, v2) {
					if (value == i2) {
						$.each(v2, function (i3, v3) {
							if (v3.name !== undefined) {
								var colorName = colorNames[i];
								var newColor = window.chartColors[colorName];
								var newDataset = {
									label: v3.name,
									backgroundColor: newColor,
									borderColor: newColor,
									data: JSON.stringify(v3.values),
									//data: [{t: "1970-01-19T17:07:31Z", y: 42},{t: "1970-01-19T17:07:32Z", y: 110},{t: "1970-01-19T17:07:33Z", y: 114},{t: "1970-01-19T17:07:34Z", y: 114},{t: "1970-01-19T17:07:35Z", y: 104},{t: "1970-01-19T17:07:36Z", y: 6},{t: "1970-01-19T17:07:40Z", y: 94},{t: "1970-01-19T17:07:41Z", y: 106},{t: "1970-01-19T17:07:42Z", y: 118},{t: "1970-01-19T17:07:43Z", y: 105},{t: "1970-01-19T17:07:44Z", y: 114},{t: "1970-01-19T17:07:45Z", y: 67},{t: "1970-01-19T17:07:47Z", y: 9},{t: "1970-01-19T17:07:48Z", y: 9},{t: "1970-01-19T17:07:48Z", y: 7},{t: "1970-01-19T17:07:49Z", y: 8},{t: "1970-01-19T17:07:52Z", y: 10},{t: "1970-01-19T17:07:56Z", y: 6},{t: "1970-01-19T17:07:57Z", y: 9},{t: "1970-01-19T17:07:58Z", y: 8},{t: "1970-01-19T17:08:00Z", y: 9},{t: "1970-01-19T17:08:04Z", y: 10},{t: "1970-01-19T17:08:06Z", y: 6}],
									type: 'line',
									pointRadius: 0,
									fill: false,
									lineTension: 0,
									borderWidth: 2
								};
								chart.config.data.datasets.push(newDataset);
							}
						});
					}
				});
			});
			chart.config.data.datasets.splice(0, 1);
			chart.update();
			if (chart.config.data.datasets.length == 0) {
				chart.destroy()
				compareChart.pop()
				$('[name="compare' + value + '"]').remove();
			}
		});
		if (compareChart.length == 1) {
			compareChart[0].canvas.parentNode.style.height = '1000px';
		}
	}

	function loadSeparate(data) {
		$.each(data, function (index, value) {
			$.each(["volt", "amp", "watt", "ae", "ct"], function (i, v) {
				var divChart = "<div class=\"col mb-4\" name=\"separate-" + value.name + "-" + v +
					"\"><canvas class=\"card shadow\" id=\"separate-" + value.name + "-" + v +
					"\"></canvas></div>"
				$("#separate").append(divChart);
				var ctxTmp = document.getElementById("separate" + "-" + value.name + "-" + v).getContext(
					'2d');
				var cfgTmp = JSON.parse(JSON.stringify(cfg));
				cfgTmp.options.scales.yAxes[0].scaleLabel.labelString = v
				var colorName = colorNames[cfgTmp.data.datasets.length % colorNames.length + index];
				var newColor = window.chartColors[colorName];
				var chart = new Chart(ctxTmp, cfgTmp);
				chart.canvas.parentNode.style.height = '500px';
				chart.canvas.parentNode.style.width = '600px';
				separateChart.push(chart);
				$.each(value, function (i2, v2) {
					if (i2 == v) {
						$.each(v2, function (i3, v3) {
							if (v3.name !== undefined) {
								var newDataset = {
									label: v3.name,
									backgroundColor: newColor,
									borderColor: newColor,
									data: v3.values,
									type: 'line',
									pointRadius: 0,
									fill: false,
									lineTension: 0,
									borderWidth: 2
								};
								chart.config.data.datasets.push(newDataset);
							}
						});
					}
				});
				chart.config.data.datasets.splice(0, 1);
				chart.update();
				if (chart.config.data.datasets.length == 0) {
					chart.destroy()
					separateChart.pop()
					$('[name="separate-' + value.name + '-' + v + '"]').remove();
				}
			});
		});
	if(separateChart.length>=7){
		$.each(separateChart, function (i, v) {
			v.canvas.parentNode.style.height = '300px';
			v.canvas.parentNode.style.width = '400px';
		});
	}
	else if(separateChart.length<=2){
		$.each(separateChart, function (i, v) {
			v.canvas.parentNode.style.height = '500px';
		});
	}
	}
	

	function loadCombine(data) {
		$.each(["volt", "amp", "watt", "ae", "ct"], function (index, value) {
			var divChart = "<div class=\"col mb-5\" name=\"combine" + value +
				"\"><canvas class=\"card shadow\" id=\"combine" +
				value + "\"></canvas></div>";
			$("#combine").append(divChart);
			var ctxTmp = document.getElementById('combine' + value).getContext('2d');
			var cfgTmp = JSON.parse(JSON.stringify(cfg));
			cfgTmp.options.scales.yAxes[0].scaleLabel.labelString = value
			var chart = new Chart(ctxTmp, cfgTmp);
			chart.canvas.parentNode.style.height = '500px';
			chart.canvas.parentNode.style.width = '600px';
			combineChart.push(chart);
			$.each(data, function (i, v) {
				if (value == i) {
					$.each(v, function (i2, v2) {
						if (v2.name !== undefined) {
							var colorName = colorNames[i];
							var newColor = window.chartColors[colorName];
							var newDataset = {
								label: v2.name,
								backgroundColor: newColor,
								borderColor: newColor,
								data: v2.values,
								type: 'line',
								pointRadius: 0,
								fill: false,
								lineTension: 0,
								borderWidth: 2
							};
							chart.config.data.datasets.push(newDataset);
						}
					});
				}
			});
			chart.config.data.datasets.splice(0, 1);
			chart.update();
			if (chart.config.data.datasets.length == 0) {
				combineChart.pop()
				chart.destroy()
				$('[name="combine' + value + '"]').remove();
			}
		});
		if (combineChart.length == 1) {
			combineChart[0].canvas.parentNode.style.height = '1000px';
		}
	}

	function getAndLoad() {
		clearChart();

		if (startTime == undefined) {
			startTime = new Date($('input[name="datetimes"]').data('daterangepicker').startDate).getTime()/1000;
			endTime = new Date($('input[name="datetimes"]').data('daterangepicker').endDate).getTime()/1000;
		}
		console.log(parseInt(startTime)+":::::"+parseInt(endTime))
		$.ajax({
				url: "{{ url_for('Private.dashboard_list') }}",
				method: "POST",
				data: {
					data: JSON.stringify(dashboardArray),
					unit: parseInt(unit),
					startTime: parseInt(startTime),
					endTime: parseInt(endTime),
					graphType: "CompareAndSeparate"
				}
			}).then(function (res) {
				console.log(res)
				loadSeparate(res);
				loadCompare(res);
				if(legends!=undefined && titles!=undefined){
					updateLegend(titles,legends)
				}
			})
			.catch(function (err) {
				console.log(err);
			});
	}

	function getAndCombine() {
		clearChart();
		if (startTime == undefined && endTime == undefined) {
			startTime = new Date($('input[name="datetimes"]').data('daterangepicker').startDate).getTime()/1000;
			endTime = new Date($('input[name="datetimes"]').data('daterangepicker').endDate).getTime()/1000;
		}
		console.log(parseInt(startTime)+":::::"+parseInt(endTime))
		$.ajax({
				url: "{{ url_for('Private.dashboard_list') }}",
				method: "POST",
				data: {
					data: JSON.stringify(dashboardArray),
					unit: parseInt(unit),
					startTime: parseInt(startTime),
					endTime: parseInt(endTime),
					graphType: "Combine"
				}
			}).then(function (res) {
				loadCombine(res);
				if(legends!=undefined && titles!=undefined){
					updateLegend(titles,legends)
				}
			})
			.catch(function (err) {
				console.log(err);
			});
	}

	document.getElementById('update').addEventListener('click', function () {

		if(unit == "300") updateTime=300000
		if(unit == "1800") updateTime=1800000
		if(unit == "3600") updateTime=3600000
		if(unit == "43200") updateTime=43200000
		if(unit == "86400") updateTime=86400000
		getAndLoad();
		getAndCombine();
	});

	let checkFullScreen = false;
	let timerId;

	function fullscreen() {
		if (checkFullScreen == false) {
			$('#dashGraph').css({
				position: 'fixed',
				top: 0,
				right: 0,
				bottom: 0,
				left: 0,
				padding: 3,
				zIndex: 999
			});
			checkFullScreen = true;
		} else {
			$('#dashGraph').css({
				position: 'static',
				top: 'auto',
				right: 'auto',
				bottom: 'auto',
				left: 'auto',
				zIndex: 'auto'
			});
			checkFullScreen = false;
		}
	}
	let titles;
	let legends;
	const queryString = window.location.search;
	if (queryString !== "") {
		fullscreen()
		const urlParams = new URLSearchParams(queryString);
		for (var i = 0; i < urlParams.getAll('id').length; i++) {
			dashboardArray.push({
				'type': urlParams.getAll('type')[i],
				'id': urlParams.getAll('id')[i],
				'name': urlParams.getAll('name')[i]
			})
		}
		startTime = urlParams.get('startTime')
		endTime = urlParams.get('endTime')
		unit = urlParams.get('unit')
		mode = urlParams.get('mode')
		autoUpdate = urlParams.get('autoUpdate')
		if (mode == "compare") {
			showCompare()
			getAndLoad();
		} else if (mode == "combine") {
			showCombine()
			getAndCombine();
		} else if (mode == "separate") {
			showSeparate()
			getAndLoad();
		}
		titles = urlParams.getAll('titles')
		legends = urlParams.getAll('legends')
		if (autoUpdate == true) {
			refresh()
		}
	}

	function copyToClipboard() {
		var copyText = document.getElementById("getLink");
		copyText.select();
		copyText.setSelectionRange(0, 99999)
		document.execCommand("copy");
	}

	$('#genParam').click(function () {
		if (mode == "none") {
			Swal.fire(
				'Cannot Get Link!',
				'Please select graph mode.',
				'error'
			)
		} else if (dashboardArray == "") {
			Swal.fire(
				'Cannot Get Link!',
				'No data in dashboard.',
				'error'
			)
		} else {
			if (startTime == undefined && endTime == undefined) {
				startTime = new Date($('input[name="datetimes"]').data('daterangepicker').startDate).getTime()/1000;
				endTime = new Date($('input[name="datetimes"]').data('daterangepicker').endDate).getTime()/1000;
			}
			param = "?";
			$.each(dashboardArray, function (i, v) {
				param += "id=" + encodeURIComponent(v.id) + "&"
				param += "type=" + encodeURIComponent(v.type) + "&"
				param += "name=" + encodeURIComponent(v.name) + "&"
			});
			param += "startTime=" + startTime + "&endTime=" + endTime + "&unit=" + $("#unit").val() + "&mode=" + mode +"&autoUpdate=" + checkRefresh + "&"
			var chartArray = [compareChart, combineChart, separateChart]
			if (mode == "compare") chartIndex = 0;
			if (mode == "combine") chartIndex = 1;
			if (mode == "separate") chartIndex = 2;
			$.each(chartArray[chartIndex], function (i, v) {
				param += "titles=" + v.config.options.title.text +"&"
				$.each(v.config.data.datasets, function (i2, v2) {
					param += "legends=" + v2.label +"&"
				});
			});
			var swal_html = '<div class="card shadow mb-4">\
    			<div class="card-body">\
        		<div class="table-responsive">\
            	<table class="table table-bordered" id="sensor_list" width="100%" cellspacing="0">\
                <thead>\
                </thead>\
                <tbody>\
				<tr>\
					<th>From</th>\
					<td>' + $('input[name="datetimes"]').data('daterangepicker').startDate.format('YYYY-MM-DD hh:mm A') + '</td>\
				</tr>\
				<tr>\
					<th>To</th>\
					<td>' + $('input[name="datetimes"]').data('daterangepicker').endDate.format('YYYY-MM-DD hh:mm A') + '</td>\
				</tr>\
				<tr>\
					<th>Unit</th>\
					<td>' + unit + '</td>\
				</tr>\
				<tr>\
					<th>Mode</th>\
					<td>' + mode + '</td>\
				</tr>\
				<tr>\
					<th>Auto Update</th>\
					<td>' + checkRefresh + '</td>\
				</tr>\
                </tbody>\
            </table>\
        </div>\
		<div class="form-group">\
    <label for="getLink">Link</label>\
    <input type="text" class="form-control" id="getLink" value="' + window.location.href + param + '">\
  </div>\
  <button onclick="copyToClipboard()" class="btn btn-success">Get link</button>\
    </div>\
</div>';
			swal.fire({
				title: "Get link!",
				html: swal_html,
				focusConfirm: false,
				confirmButtonColor: '#d33',
				confirmButtonText: 'Close',
			});
		}
	});

	function shuffle(arra1) {
		var ctr = arra1.length,
			temp, index;
		// While there are elements in the array
		while (ctr > 0) {
			// Pick a random index
			index = Math.floor(Math.random() * ctr);
			// Decrease ctr by 1
			ctr--;
			// And swap the last element with it
			temp = arra1[ctr];
			arra1[ctr] = arra1[index];
			arra1[index] = temp;
		}
		return arra1;
	}

	function refresh() {
		if (checkRefresh == false) {
			$(this).removeClass('btn-outline-success').addClass('btn-outline-danger');
			endTime = new Date(moment()).getTime()/1000;
			getAndLoad()
			getAndCombine();
			timerId = setInterval(() => {
				getAndLoad()
				getAndCombine();
			}, updateTime);
			checkRefresh = true;
		} else {
			endTime = new Date($('input[name="datetimes"]').data('daterangepicker').endDate).getTime()/1000;
			$(this).removeClass('btn-outline-danger').addClass('btn-outline-success');
			clearInterval(timerId);
			checkRefresh = false;
		}
		$("#autoUpdateTable").text(checkRefresh);
	};

	$('#fullscreen').click(function () {
		fullscreen();
	});

	$('#autoRefresh').click(function () {
		refresh()
	});

	$('#editLegend').click(function () {
		var swal_html = '<div class="card shadow mb-4">\
    			<div class="card-body">\
        		<div class="table-responsive">\
            	<table class="table table-bordered" id="sensor_list" width="100%" cellspacing="0">\
                <thead>\
                </thead>\
                <tbody>'
		var chartArray = [compareChart, combineChart, separateChart]
		var chartIndex
		if (mode == "compare") chartIndex = 0;
		if (mode == "combine") chartIndex = 1;
		if (mode == "separate") chartIndex = 2;

		$.each(chartArray[chartIndex], function (i, v) {
			swal_html += '<tr><td><input type="text" class="form-control" value="' + v.config.options.title.text + '" style="text-align:center;font-weight: bold;" name="title[]"></td></tr>'
			$.each(v.config.data.datasets, function (i2, v2) {
				swal_html += '<tr><td><input type="text" class="form-control" value="' + v2.label +'" name="legend[]"></td></tr>'
			})
		})

		swal_html += '</tbody>\
            </table>\
        </div>\
		</div>';
		swal.fire({
			title: "Edit Legend",
			html: swal_html,
			focusConfirm: false,
			confirmButtonColor: '#d33',
			confirmButtonText: 'Edit',
			preConfirm: () => {
				var titles = $('input[name="title[]"]').map(function(){return $(this).val();}).get();
				var legends = $('input[name="legend[]"]').map(function(){return $(this).val();}).get();
				updateLegend(titles,legends)
			}
		});
	});

	function updateLegend(titles,legends){
		var chartArray = [compareChart, combineChart, separateChart]
		var chartIndex
		if (mode == "compare") chartIndex = 0;
		if (mode == "combine") chartIndex = 1;
		if (mode == "separate") chartIndex = 2;
		var countLegend = 0;
		
				$.each(chartArray[chartIndex], function (i, v) {
					v.config.options.title.text = titles[i]
					$.each(v.config.data.datasets, function (i2, v2) {
						v2.label = legends[countLegend];
						countLegend++;
					});
					v.update();
				});
	}
</script>
{% endblock %}