{% extends 'base.html' %} {% block title %}Energy Saving - Logs{% endblock %} {% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Logs Monitor</h1>
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-8 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xm font-weight-bold text-primary text-uppercase mb-1">Lastest Notify</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 lastest_log"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-8 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xm font-weight-bold text-success text-uppercase mb-1">Logs Count</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 sum_logs"></div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-comment-alt fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-md-8 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-search fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="logs" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Message</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    var logs = $('#logs').DataTable();
    $(document).ready(function() {
        sumLogs();

        var start = moment().subtract(29, 'days');
        var end = moment();

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            timePicker: true,
            ranges: {
                'Today': [moment().subtract(1, 'days'), moment()],
                'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment()],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month')
                    .endOf('month')
                ]
            }
        }, cb);

        cb(start, end);

        updateLogs();
        
        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = $('#reportrange').data('daterangepicker').startDate.format('YYYY-MM-DD hh:mm:ss');
                var max = $('#reportrange').data('daterangepicker').endDate.format('YYYY-MM-DD hh:mm:ss');
                var startDate = data[1];
                if (min == null && max == null) {
                    return true;
                }
                if (min == null && startDate <= max) {
                    return true;
                }
                if (max == null && startDate >= min) {
                    return true;
                }
                if (startDate <= max && startDate >= min) {
                    return true;
                }
                return false;
            }

        );

        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
            logs.draw()
        });
    });

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY-MM-DD hh:mm:ss') + ' - ' + end.format('YYYY-MM-DD hh:mm:ss'));
    }

    function updateLogs() {
        logs.destroy();

        logs = $('#logs').DataTable({
            ajax: {
                "url": "{{ url_for('Private.logs_list') }}",
                "type": "GET",
                "dataSrc": "",
            },
            columns: [{
                data: 'lid'
            },{
                data: 'create_time'
            }, {
                data: 'message'
            }],
            columnDefs: [{
                "width": "5%",
                "targets": 0
            }, {
                "width": "15%",
                "targets": 1
            }, {
                targets: 1,
                render: function(data) {
                    return moment(data).format('YYYY-MM-DD hh:mm:ss');
                }
            }]
        });
    };

    var sumLogs = function() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for("Private.summary_logs") }}',
            dataType: 'json',
            success: function(sumData) {
                $('.lastest_log').html(sumData.lastest);
                $('.sum_logs').html(sumData.sum_logs + " Message");
            }
        });
    }
</script>
{% endblock %}