{% extends 'base.html' %}
{% block title %}Energy Saving - Password Reset{% endblock %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Password Reset</h1>

 <!-- Earnings (Monthly) Card Example -->
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <div class="row no-gutters align-items-center">
        <form class="col mr-2" method="POST" action="{{ url_for('Page.reset') }}">
          <div class="form-group">
            <label for="password" class="text-primary">Old Password</label>
            <input type="password" class="form-control" id="password" name="password">
            {% if form.password.errors %}
                <ul class="text-danger">
                  {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password">
            {% if form.new_password.errors %}
                <ul class="text-danger">
                  {% for error in form.new_password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="conf_new_password">Confirm New Password</label>
            <input type="password" class="form-control" id="conf_new_password" name="conf_new_password">
          </div>
          <input type="submit" class="btn btn-primary" value="Update"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script> 
<script type="text/javascript">
    $(document).ready(function() {
    // validate signup form on keyup and submit
      $(".card-body form").validate({
        errorClass:'text-danger',
        rules: {
          password: {
            required: true,
            minlength: 6
          },
          new_password: {
            required: true,
            minlength: 6,
            equalTo: "#conf_new_password"
          }
        },
        messages: {
          password: {
            required: "Please provide a password",
            minlength: "Field must be at least 6 characters long."
          },
          new_password: {
            required: "Please provide a password",
            minlength: "Field must be at least 6 characters long.",
            equalTo: "Passwords must match"
          }
        }
      });
  });
</script>
{% endblock %}