{% extends 'base.html' %}
{% block title %}Energy Saving - Sensor View{% endblock %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Sensor Managemnet</h1>
<form id="searchForm">
	<div class="form-row">
		<div class="col-md mb-3">
			<label for="sName">Sensor Name</label>
			<input type="text" class="form-control " id="sName" placeholder="Search...">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6 mb-3">
			<label for="building">Building</label>
			<select class="custom-select" id="building">
				<option selected value="">All</option>

			</select>

		</div>
		<div class="col-md-3 mb-3">
			<label for="floor">Floor</label>
			<select class="custom-select" id="floor">
				<option selected value="">All</option>

			</select>
		</div>
		<div class="col-md-3 mb-3">
			<label for="room">Room</label>
			<select class="custom-select" id="room">
				<option selected value="">All</option>

			</select>
		</div>
		Sensor Type :
	</div>
	<div class="form-row">
		{% for i in _type %}
		<div class="col-md-1 mb-3">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="type{{i['tid']}}" data-type="" checked
					value="{{i['tname']}}">
				<label class="custom-control-label" for="type{{i['tid']}}">{{i["tname"]}}</label>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="form-row">
		<div class="col-md-8 mb-3">
			<button class="btn btn-primary" type="submit">Search</button>
		</div>
	</div>
</form>

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="tableSensor" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>id</th>
						<th>Name</th>
						<th>MAC</th>
						<th>Room</th>
						<th>Floor</th>
						<th>Building</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>


			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script>
function shuffle(arra1) {
    var ctr = arra1.length, temp, index;
	// While there are elements in the array
    while (ctr > 0) {
		// Pick a random index
        index = Math.floor(Math.random() * ctr);
		// Decrease ctr by 1
        ctr--;
		// And swap the last element with it
        temp = arra1[ctr];
        arra1[ctr] = arra1[index];
        arra1[index] = temp;
    }
    return arra1;
}
var type_color = Array.from($("input[data-type='']").map(function () {
    var id = $(this).attr('id');
    var type_name = $("label[for="+id+"]").text()
    console.log(type_name)
    return type_name
    // Add to the array
    //tempArray.push(id);
}));
var colors = shuffle(["aqua","beige","black","blue","brown","cyan","darkblue","darkcyan","darkgrey","darkgreen",
"darkkhaki","darkmagenta","darkolivegreen","darkorange","darkorchid","darkred","darksalmon","darkviolet",
"fuchsia","gold","green","indigo","khaki","lightblue","lightgreen","lightpink","lime","magenta",
"maroon","navy","olive","orange","pink","purple","violet","red","silver",]);
var Table;
$( document ).ready(function() {
    console.log("ready!");
    getAllData();
	$('#tableSensor').on('click', "button[name='del']", function () {
		var data = Table.row($(this).parents('tr')).data();
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes'
		}).then((result) => {
			if (result.value) {
				$.ajax({
					url: "{{ url_for('Private.sensor_del') }}",
					method: "GET",
					data: {"id": data.sid}
				}).then(function(res){
					getAllData();
					Swal.fire(
						'Deleted!',
						'Sensor has been deleted.',
						'success'
					)
				})
				.catch(function (err) {
					console.log(err);
				});			
			}
		});
	});

	$('#tableSensor').on('click', "button[name='edit']" , function () {
		var data = Table.row($(this).parents('tr')).data();
		Swal.fire({
			width: '45rem',
			title: 'Edit',
			showCancelButton: true,
			confirmButtonText: 'Confirm',
			html: `<form id="">
					<div class="form-row">
						<div class="col-md mb-3">
							<label for="validationServer01">Sensor Name</label>
						<input type="text" class="form-control " id="edit_sname" value="${data.sname}">
						<input type="hidden" class="form-control " id="edit_sid" value="${data.sid}">
						</div>
					</div>
				  </form>`,
			focusConfirm: false,
			preConfirm: function () {
				return new Promise((resolve,
					reject) => {
						resolve({
							sname: $('input[id="edit_sname"]').val(),
							sid: $('input[id="edit_sid"]').val()
						});
					});
			}
		}).then((result) => {
			console.log(result.value.sname);
			$.ajax({
					url: "{{ url_for('Private.sensor_edit') }}",
					method: "POST",
					data: {
						id: result.value.sid,
						name: result.value.sname
					}
				}).then(function(res){
					getAllData();
					Swal.fire(
						'Edited!',
						'Sensor has been edited.',
						'success'
					)
				})
				.catch(function (err) {
					console.log(err);
				});
		});
	});	
});

$.fn.showData = function (data,first=false) {
	if(first)
	{
		data.forEach(function(elem){
			elem["tname"] = `<span class='span-text-md badge ${colors[type_color.indexOf(elem["tname"])]}'>${elem["tname"]}</span>`
		})
	}
	
	Table = $('#tableSensor').DataTable({
		data: data,
		columns: [{
				data: 'sid'
			},
			{
				data: 'sname'
			},
			{
				data: 'bomac'
			},
			{
				data: 'rname'
			},
			{
				data: 'fname'
			},
			{
				data: 'bname'
			},
			{
				data: 'tname'
			},
			{
				"defaultContent": "<button type=\"button\" class=\"btn btn-warning\" id=\"edit\" name=\"edit\">Edit</button>\n" +
					"<button type=\"button\" class=\"btn btn-danger\" id=\"del\" name=\"del\">Delete</button>"
			}
		]
	});
};

var getAllData = function(){
	$.ajax({
		type: 'GET',
		url: '{{ url_for("Private.all_room_list") }}',
		dataType: 'json',
		success: function (roomData) {
			$.ajax({
				type: 'GET',
				url: '{{ url_for("Private.sensor_list") }}',
				dataType: 'json',
				success: function (allData) {
					if(Table)
						Table.destroy();
					$.fn.showData(allData,true);
					let building = $('#building');
					let floor = $('#floor');
					let room = $('#room');

					$.each(roomData, function (key, entry) {
						building.append($('<option></option>').attr('value', entry.bid).text(entry.bname));
					})

					$(building).change(function () {
						floor.empty();
						floor.append('<option selected value="">all</option>');
						floor.prop('selectedIndex', 0);
						room.empty();
						room.append('<option selected value="">all</option>');
						room.prop('selectedIndex', 0);
						$.each(roomData, function (key, entry) {
							if (entry.bid == building.val()) {
								$.each(entry.floor, function (key, entry2) {
									floor.append($('<option></option>').attr('value', entry2.fid).text(entry2.fname));
								})
							}
						})
					});

					$(floor).change(function () {
						room.empty();
						room.append('<option selected value="">all</option>');
						room.prop('selectedIndex', 0);
						$.each(roomData, function (key, entry) {
							if (entry.bid == building.val()) {
								$.each(entry.floor, function (key, entry2) {
									if (entry2.fid == floor.val()) {
										$.each(entry2.room, function (key,entry3) {
											room.append($('<option></option>').attr('value',entry3.rid).text(entry3.rname));
										})
									}
								})
							}
						})
					});

					$("#searchForm").submit(function (event) {
						event.preventDefault();	
						var filteredData = allData;
						if ($('#sName').val() != "") {
							filteredData = $(filteredData).filter(function (i, n) {
								return n.sname.includes($('#sName').val());
							});
						}

						var formID = ['#building', '#floor', '#room'];
						var index;
						for (index = 0; index < formID.length; index++) {
							if ($(formID[index]).val() != "") {
								filteredData = $(filteredData).filter(function (i, n) {
									var colID = [n.bid, n.fid, n.rid];
									return colID[index] == $(formID[index]).val();
								});
							}
						}

						//typeID = ['#type1', '#type2', '#type3'];
						typeID = $("input[data-type='']").map(function () { return "#"+this.id; }).get()
						for (index = 0; index < typeID.length; index++) {
							if (!$(typeID[index]).is(':checked')) {
								filteredData = $(filteredData).filter(function (i, n) {
									return $(n.tname).text() != $(typeID[index]).val();
								});
							}
						}
						Table.destroy();
						$.fn.showData(filteredData);
					});

				}
			});
		}
	});
};
</script>
{% endblock %}