{% extends 'base.html' %} {% block title %}Energy Saving - Sensor Register{% endblock %} {% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Sensor Managemnet</h1>
<form id="searchForm">
    <div class="form-row">
        <div class="col-md mb-3">
            <label for="validationServer01">Mac Address</label>
            <input id="bMAC" type="text" class="form-control " placeholder="Search...">
        </div>
    </div>

    <div class="form-row">
        <div class="col-md mb-3">
            <label for="startDate">Minimum Date</label>
            <input id="startDate" type="text" class="form-control" value="">
        </div>
        <div class="col-md mb-3">
            <label for="endDate">Maximum Date</label>
            <input id="endDate" type="text" class="form-control" value="">
        </div>
    </div>
    <div class="form-row mb-4 mt-2">
        <div class="form-check-inline">
            <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="isReg" value="registered">Registered
      </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="isReg" value="unregister">Unregister
      </label>
        </div>
    </div>
</form>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="board" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>MAC Address</th>
                        {% for i in _type %}
                        <th>{{ i["tname"] }}</th>
                        {% endfor %}
                        <th>Building</th>
                        <th>Floor</th>
                        <th>Room</th>
                        <th>Added time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    $(document).ready(function() {
        $(function() {
            $('#startDate').daterangepicker({
                onSelect: function() {
                    board.draw();
                },
                singleDatePicker: true,
                timePicker: true,
                startDate: moment().startOf('year'),
                locale: {
                    format: 'YYYY-MM-DD hh:mm:ss'
                }
            });
        });

        $(function() {
            $('#endDate').daterangepicker({
                onSelect: function() {
                    board.draw();
                },
                singleDatePicker: true,
                timePicker: true,
                startDate: moment().add(24, 'hours'),
                locale: {
                    format: 'YYYY-MM-DD hh:mm:ss'
                }
            });
        });

        var board = $('#board').DataTable();

        function updateBoard() {
            board.destroy();

            board = $('#board').DataTable({
                order: [[ "{{_type|length+6}}", "asc" ]],
                ajax: {
                    "url": "{{ url_for('Private.register_list') }}",
                    "type": "GET",
                    "dataSrc": "",
                },
                columns: [{
                        data: 'boid'
                    }, {
                        data: 'bomac'
                    },
                    {% for i in _type %}
                    {
                        data: 'type.{{ i["inf_name"] }}'
                    },
                    {% endfor %}
                    {
                        data: 'bname'
                    }, {
                        data: 'fname'
                    }, {
                        data: 'rname'
                    }, {
                        data: 'time'
                    }, {
                        data: 'register',
                        render: function(data) {
                            if (data == 0) {
                                return "<h5><span class=\"badge badge-danger\">Unregister</span></h5>"
                            } else {
                                return "<h5><span class=\"badge badge-success\">Registered</span></h5>"
                            }
                        }
                    }, {
                        data: 'register',
                        render: function(data) {
                            if (data == 0) {
                                return "<button type=\"button\" class=\"btn btn-success\" name=\"register\">Register</button> <button type=\"button\" class=\"btn btn-danger\" name=\"del\">Delete</button>"
                            } else {
                                return "<button type=\"button\" class=\"btn btn-warning\" name=\"register\">Edit</button> <button type=\"button\" class=\"btn btn-danger\" name=\"del\">Delete</button>"
                            }
                        }
                    }
                ],
                columnDefs: [
                {
                    "width": "3%",
                    "targets": 0
                },
                {% for i in range(2,_type|length+2) %}
                {
                    "width": "3%",
                    "targets": {{ i }}
                },
                {% endfor %}
                {
                    targets: {{_type|length+5}},
                    render: function(data) {
                        return moment(data).format('YYYY-MM-DD hh:mm:ss');
                    }
                }]
            });
        };

        updateBoard();

        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = $('#startDate').val();
                var max = $('#endDate').val();

                var startDate = data[{{_type|length+5}}];
                if (min == null && max == null) {
                    return true;
                }
                if (min == null && startDate <= max) {
                    return true;
                }
                if (max == null && startDate >= min) {
                    return true;
                }
                if (startDate <= max && startDate >= min) {
                    return true;
                }
                return false;
            }
        );


        $('#startDate, #endDate').change(function() {
            board.draw();
        });

        $('#bMAC').on('keyup', function() {
            $('#board')
                .DataTable()
                .column(1)
                .search($('#bMAC').val(), false, true)
                .draw();
        });

        $('input:checkbox').on('change', function() {
            var isReg = $('input:checkbox[name="isReg"]:checked').map(function() {
                return '^' + this.value + '$';
            }).get().join('|');
            console.log(isReg);
            board.column({{_type|length+6}}).search(isReg, true, false, false).draw(false);

        });

        $('#board').on('click', "button[name='register']", function() {
            var data = board.row($(this).parents('tr')).data();
            var htmlForm = "";
            htmlForm += "<form id='Agogo'>";
            htmlForm += "<input type=\"hidden\" id=\"board_id\" value=\"" + data.boid + "\">";
            $.each(data.sensor, function(index, value) {
                htmlForm += "<div class=\"form-row\">"
                htmlForm += "<div class=\"col-md mb-3\">"
                htmlForm += "<label>Sensor Name</label>"
                htmlForm += "<input type=\"text\" class=\"form-control\" name=\"sensor_name\" value=\"" + value
                    .sname + "\" data-id=\"" + value.sid + "\">"
                htmlForm += "</div>"
                htmlForm += "<div class=\"col-md mb-3\">"
                htmlForm += "<label>Type</label>"
                htmlForm += "<input type=\"text\" class=\"form-control\" name=\"type\" value=\"" + value.tname +
                    "\" data-id=\"" + value.tid + "\" disabled>"
                htmlForm += "</div>"
                htmlForm += "</div>"
            })

            htmlForm += '<div class="form-row">\
		<div class="col-md-6 mb-3">\
			<label for="building">Building</label>\
			<select class="custom-select" id="building">\
				<option selected value="">None</option>\
			</select>\
		</div>\
		<div class="col-md-3 mb-3">\
			<label for="floor">Floor</label>\
			<select class="custom-select" id="floor">\
				<option selected value="">None</option>\
			</select>\
		</div>\
		<div class="col-md-3 mb-3">\
			<label for="room">Room</label>\
			<select class="custom-select" id="room">\
				<option selected value="">None</option>\
			</select>\
		</div>\
	</div>'

            htmlForm += "</form>";
            getRoomData();
            Swal.fire({
                width: '45rem',
                title: 'Register Sensors',
                html: htmlForm,
                focusConfirm: false,
                preConfirm: () => {
                    let sensors = []
                    $("input[name='sensor_name']").each(function(index, value) {

                        let sensor_id = parseInt($(value).attr("data-id"))
                        let sensor_name = $(value).val()
                        let json_sensor = {
                            "id": sensor_id,
                            "name": sensor_name
                        }
                        sensors.push(json_sensor)
                    })
                    let room = $("#room").val()
                    let board_id = $("#board_id").val()
                    console.log(sensors);
                    $.ajax({
                            url: "{{ url_for('Private.register_register') }}",
                            method: "POST",
                            data: {
                                sensor: JSON.stringify(sensors),
                                room: room,
                                id: board_id
                            }
                        }).then(function(res) {
                            Swal.fire(
                                'Registered!',
                                'Microcontroller is registered.',
                                'success'
                            )
                            updateBoard();
                        })
                        .catch(function(err) {
                            console.log(err);
                        });
                }
            });

        });

        $('#board').on('click', "button[name='del']", function() {
            var data = board.row($(this).parents('tr')).data();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                            url: "{{ url_for('Private.register_del') }}",
                            method: "GET",
                            data: {
                                "id": data.boid
                            }
                        }).then(function(res) {
                            updateBoard();
                            Swal.fire(
                                'Deleted!',
                                'Sensor has been deleted.',
                                'success'
                            )
                        })
                        .catch(function(err) {
                            console.log(err);
                        });
                }
            });
        });
    });


    var getRoomData = function() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for("Private.all_room_list") }}',
            dataType: 'json',
            success: function(roomData) {
                let building = $('#building');
                let floor = $('#floor');
                let room = $('#room');
                $.each(roomData, function(key, entry) {
                    building.append($('<option></option>').attr('value', entry.bid).text(entry.bname));
                })

                $(building).change(function() {
                    floor.empty();
                    floor.append('<option selected value="">None</option>');
                    floor.prop('selectedIndex', 0);
                    room.empty();
                    room.append('<option selected value="">None</option>');
                    room.prop('selectedIndex', 0);
                    $.each(roomData, function(key, entry) {
                        if (entry.bid == building.val()) {
                            $.each(entry.floor, function(key, entry2) {
                                floor.append($('<option></option>').attr('value', entry2.fid).text(entry2.fname));
                            })
                        }
                    })
                });

                $(floor).change(function() {
                    room.empty();
                    room.append('<option selected value="">None</option>');
                    room.prop('selectedIndex', 0);
                    $.each(roomData, function(key, entry) {
                        if (entry.bid == building.val()) {
                            $.each(entry.floor, function(key, entry2) {
                                if (entry2.fid == floor.val()) {
                                    $.each(entry2.room, function(key, entry3) {
                                        room.append($('<option></option>').attr('value', entry3.rid).text(entry3
                                            .rname));
                                    })
                                }
                            })
                        }
                    })
                });

            }
        });
    }
</script>
{% endblock %}